.starter-template {
  text-align: center;
}

.panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.wrapper {
    width: 200px;
    height: 200px;
    left: 50%;
    position: relative;
    margin-left: -100px;
    margin-bottom: 40px
}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
    width: 220px;
    height: 318px;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 300px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 130px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    line-height: 14px;
    min-width: 14px;

    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;

    margin-right: 2px;

    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

body {
    min-width: 500px;
}
.mainback,
.paperback {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainback {
    background-image: url("images/main-background.png");
    z-index: 1;
}

.paperback {
    background-image: url("images/paper-background.png");
    opacity: 0.8;
    z-index: 2;
}

.heartback {
    background-image: url("images/heart-background.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.content,
.footer {
    width: 467px;
    margin: 0 auto;
}
.content {
    position: relative;
    z-index: 3;
}

.content .form {
    width: 381px;
    height: 389px;
    margin: auto;
}

.content .form .form_inner {
    height: 275px;
}
.content .form .form_title {
    background-color: #f5f5f5;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 125%;
}

.image_block {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid #b8b8b8;
}

.image_block .empaty_image,
.image_block img {
    position: absolute;
    left: 0;
    top: 0;
}

.image_block .empty_image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
}

.image_block img {
    border: 0;
}

.starter-template {
    padding: 30px 0;
}

.footer {
    border-top: 2px solid #ff0000;
    margin-top: 40px;
}

.footer .line {
    width: 320px;
    margin: 0 auto;
    padding-top: 5px;
}

.footer .icon{
    display: block;
}

.lspcd15 {
    margin-left: 15px;
}

.lspcd10 {
    margin-left: 10px;
}

.lspcd5 {
    margin-left: 5px;
}

.tspcd40 {
    margin-top: 50px;
}

.tspcd50 {
    margin-top: 50px;
}

.alfajazz,
.social_text,
.icon {
    float: left;
}

.alfajazz {
    width: 102px;
    height: 55px;
    background-image: url("images/alfa-jazz.png");
}

.social_text {
    height: 55px;
    line-height: 55px;
    color: #df2828;
    font-weight: bold;
}

.footer .facebook,
.footer .vk {
    width: 26px;
    height: 55px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.footer .facebook {
    background-image: url("images/icon-facebook.png");
}

.footer .vk {
    background-image: url("images/icon-vk.png");
}

.btn_nav {
    margin-top: 25px;
}

#overlay {
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 5000;
    height: 800px;
}